/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 0px;
    padding-bottom: 20px;
    height: auto;
    margin: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}



/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Set Navbar background color */
.bg-custom {
    background-color: #333
}
/* Navbar Transition effect */
.navbar {
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

/* Make landing div full screen*/
#landing {
    
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Landing page - background image*/
#landing {
    background-image: url(../images/index-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Adjust the relevent postions of navbar buttons */
#nav-btn li a {
    padding: 4px;
    margin: 15px;
}

/* Add bg color to navbar buttons when it is selected*/
#nav-btn li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Adjust the font,color and size of the navbar text*/
#nav-btn li a {
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.navbar-brand{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px !important;
    font-weight: bold;
}

/*Adjust font and color of form text*/
#landing h1 {
    color: white;
    font-size: 40px;
}
#landing h3{
    color:white;
}

/* Adjust size of search button
#search-btn{
    color:orange;
    
}*/